<% content_for :title do %>Sign Up for Trybe<% end %>
<% content_for :description do %>Sign up to access Trybe beta release<% end %>

<div class="container">
	<div class="row" style="margin-top: 50px; margin-bottom: 0px;">
		<div class="col-sm-9 hp-layer">
			<h1>Bienvenue sur trybe</h1>

			<p>Vous êtes déjà <%= Visitor.count %> pré inscrits, les prochaines invitations partiront bientôt.</p>
      <p>Tu es actuellement <span style="color:#d77f0b; font-size:20px;">n°<%= @visitor.id %></span> dans la file d'attente.</p>
			<p>
				Parles-en autours de toi pour recevoir ton accès plus rapidement !
			</p>
    </div>
    <div class="col-sm-3">
      <div class="hp-layer" style="padding-top:30px;">  
        <p>
          <i class="glyphicon glyphicon-circle-arrow-down"  style="font-size:30px;"></i>
        </p>			
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  	  			<i class="glyphicon glyphicon-remove-sign"></i> SHARE THE LOVE
  			</button>
        <p><%= link_to 'Créer mon compte', visitor_path(@visitor) %>
        </p>
      </div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">
        		<span aria-hidden="true">&times;</span>
        		<span class="sr-only">Close</span>
        	</button>
        </div>
      	<div class="modal-body">
        	<%= render "/facebook_posts/new" %>
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	<button type="button" class="btn btn-primary">Save changes</button>
      	</div>
    </div>
  </div>
</div>


