<% content_for :title do %>Sign Up for Trybe<% end %>
<% content_for :description do %>Sign up to access Trybe beta release<% end %>

<div class="row tribe">
	<div class="col-sm-10 col-sm-offset-1 column hp-layer">
		<h1>Forme ta tribu pour organiser facilement tes sorties entre amis !</h1>
		<div class="message col-sm-8 col-sm-offset-2">
			<p>
				L'application est actuellement en phase de test. Elle est uniquement accessible sur invitation.
			</p>
			<p>
				Inscris-toi à la newsletter pour <strong>accéder gratuitement</strong> à la version privée avant le lancement.
			</p>
			<div style="padding-top:30px;">
				<%= simple_form_for(@visitor, html: {class: "form-inline"}) do |f| %>
					<%= f.error_notification %>
					<%= f.input :email, label: false, :placeholder => 'Ton email...' %>
					<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
						<i class="glyphicon glyphicon-arrow-right"></i>  Obtenir mon invitation
					<% end %>
				<% end %>
				<p style="font-size:9px; padding-top:8px;">
					<em>* Nous t'enverrons 1 email par semaine maximum, promis !</em>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-3 about_links">
	<a href="/#about"><div>Plus d'informations</div></a>
</div>





