
<script type="text/javascript">
    $(document).ready(function () {
    $('img').plaxify()
    $.plax.enable()
    })
</script>
<div class="row">
	<div class="col-xs-4 text-center" style="margin-top:130px;">
		<img src="/images/maori-hp.png" data-xrange="20" data-yrange="20">
	</div>
	
		<div class="col-xs-4 text-center" style="margin-top:20px;">
			<img src="/images/mask-hp.png" data-xrange="-50" data-yrange="-50">
			<a href="/visitors/new" class="logo-hp">
				<div id="logo-hp" style="margin-top:70px; border-radius: 10px;">
					<p><img src="/images/logo-hp.png" data-xrange="5" data-yrange="5"></p>
					<p><img src="/images/baseline-hp.png" data-xrange="-3" data-yrange="-3"></p>
				</div>
			</a>
		</div>
	<div class="col-xs-4 text-center" style="margin-top:130px;">
		<img src="/images/skull-hp.png" data-xrange="-30" data-yrange="30">
	</div>
</div>
<div class="col-sm-3 hp_links">
	<a href="/visitors/new">Inscription</a>
</div>