.hp {
    min-height: 500px;
    height: 100vh; 
    background-color: #1a1a1a;
}

.hp_links {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 16px;
    z-index: 20;
    button {
        width: 150px;
    } 
}

.scroll {
    div {
        background-color: rgba(200, 200, 200, .1);
        color: #d77f0b;
        padding-top: 25px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        font-size: 16px; 
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;

    }
    div:hover {
        text-decoration: none;
        background: rgba(200, 200, 200, .2);
        color: #ffffff;
    }
}



.about-1 {
    background: #f0f0f0 image-url("arrows_opac.png") no-repeat 50% -100% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #1a1a1a;
    text-align: left;
    padding: 15px;
    h2 {
    color: #d77f0b;
    font-size: 24px;
    margin-bottom: 40px;
    }
    img {
    opacity: 0.2;
    }
}

#main {
    -webkit-transition: -webkit-transform 1.0s ease-in-out;
    transition: transform 1.0s ease-in-out;
}

a[ id= "about" ]:target ~ #main {
    -webkit-transform: translateY( -100vh );
    transform: translateY( -100vh );
}

.icon {
    color: white;
    background-color: darken(#f0f0f0, 15%);
    opacity: 0.5;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto 15px;
    padding-top: 8px;
    :hover {
    color: #d77f0b;
    opacity: 1;
    }
}

.about-2 {
    min-height: 250px;
    background: darken(#f0f0f0, 10%) image-url("indian_droite_blanc_large_opac.png") repeat-y 105% 80% fixed;

    color: #1a1a1a;
    text-align: left;
    padding: 15px;
    h2 {
    color: #d77f0b;
    font-size: 24px;
    margin-bottom: 20px;
    }
    img {
    opacity: 0.2;
    }
}
.about-3 {
    min-height: 250px;
    background-color: lighten(#1a1a1a, 10%);
    background-image: url("/images/indian_droite_cropped.png"), url("/images/bulle.png"); 
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 50%, 140px 50%;
    color: darken(#f0f0f0, 10%);
    text-align: left;
    padding: 20px;
    h2 {
        color: #d77f0b;
        font-size: 24px;
        margin-bottom: 20px;
    }
    ul {
        line-height: 30px;
    }
}
.about-4 {
    background-color: #1a1a1a;
    font-size: 16x;
    padding-top: 15px;
    padding-bottom: 10px;
}

@media only screen and (max-device-width: 480px) {
    .about-4 {
        font-size: 10px;
    }
}
