.tribe {
    height: 100vh; 
    padding-top: 60px;
    background-color: #1a1a1a;
    background-image: url('/images/maori-300.png'), url('/images/skull-300.png');
    background-position: 5% 50%, 95% 50%;
    background-repeat: no-repeat;

}
.hp-layer {
    padding-bottom: 0px;
    align: center;
    h1 {
        font-size: 36px;
        margin-bottom: 50px;
    }
    p {
        font-size: 14px;
        padding-bottom: 10px;
        padding-top:15px;
        .help-block {
            text-color: #e06019;
        }
    }
}

.message {
    border:1px solid;
    border-color:#efefef;
    padding: 10px;
}

.form-inline input {
    //width:200px;
}

.about_links {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 16px;

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }
    div {
        background: rgba(200, 200, 200, .2);
        padding: 5px;
        border-radius: 5px;
    }
    div:hover {
      background: rgba(200, 200, 200, .3);  
    }  
}